# bcrypt is a password hashing library for securely storing passwords.
bcrypt==4.0.1

# blinker is a fast and simple signaling system for Python applications.
blinker==1.7.0

# click is a popular Python package for creating command-line interfaces.
click==8.1.7

# colorama is used for adding colored output to terminal text.
colorama==0.4.6

# dnspython is a DNS toolkit for Python used for working with DNS data.
dnspython==2.4.2

# email-validator is a library for validating email addresses in Python.
email-validator==2.1.0.post1

# Flask is a lightweight web application framework for Python.
Flask==3.0.0

# Flask-Bcrypt is a Flask extension for adding Bcrypt password hashing to your application.
Flask-Bcrypt==1.0.1

# Flask-Login is an extension for Flask that manages user sessions.
Flask-Login==0.6.3

# Flask-SQLAlchemy is an extension for Flask to work with SQLAlchemy, a SQL toolkit.
Flask-SQLAlchemy==3.1.1

# Flask-WTF is an extension for Flask that provides WTForms integration.
Flask-WTF==1.2.1

# greenlet is a library used to provide cooperative multitasking to Python.
greenlet==3.0.1

# idna is a library for working with Internationalized Domain Names in Applications (IDNA).
idna==3.4

# itsdangerous is a library for securely signing data and URLs in Python.
itsdangerous==2.1.2

# Jinja2 is a fast, expressive, and widely used template engine for Python web frameworks.
Jinja2==3.1.2

# MarkupSafe is a dependency for Jinja2 and provides a safe way to mark up text.
MarkupSafe==2.1.3

# Pillow is a powerful image processing library for Python.
Pillow==10.1.0

# SQLAlchemy is a SQL toolkit and Object-Relational Mapping (ORM) library for Python.
SQLAlchemy==2.0.23

# typing_extensions is a library that provides Python 3.10's standard typing module for earlier Python versions.
typing_extensions==4.8.0

# Werkzeug is a WSGI utility library for building web applications in Python.
Werkzeug==3.0.1

# WTForms is a library for handling web forms with Flask and other web frameworks.
WTForms==3.1.1
